﻿@model MvcLogin.Models.UserDetails


@{
    ViewBag.Title = "Login";
}

<h2>Welcome</h2>


<fieldset>
    <legend>Login to start</legend>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
<form action="/Login/Login" method="post">
    <div>
        <label>User Name</label>
        <input type="text" name="userName" value="" /> <br />
    </div>
    <div>
        <label name="passwordLbl">Password</label>
        <input type="password" name="passWord" value="" /> <br />
    </div>
    <button type="submit"> Login</button> <br />
    @if (@ViewBag.NoUser == true)
    {
        <label class="text-danger"> @ViewBag.Error</label>
    }

    @if (@ViewBag.password == false)
    {
        <label class="text-danger"> @ViewBag.Error</label>
    }


    @if (@ViewBag.validation == false)
    {
        <label class="text-danger"> @ViewBag.Error</label>
    }

</form>
    <a>@Html.ActionLink("Create Account", "Registration", "Registration") </a>
</fieldset>



@*@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Login to start</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.UserName)</td>
                <td>@Html.TextBoxFor(a => a.UserName)</td>
                <td>@Html.ValidationMessageFor(a => a.UserName)</td>
            </tr>  
            <tr>
                <td>
                    @Html.LabelFor(a => a.PassWord)
                </td>
                <td>
                    @Html.PasswordFor(a => a.PassWord)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.PassWord)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
       
    </fieldset>
}*@  