﻿@{
    ViewBag.Title = "UserDashBoard";
}

<h2>UserDashBoard</h2>

@{
    ViewBag.Title = "UserDashBoard";
}

<fieldset>
    @*<legend> User DashBoard </legend>*@

    @if(Session["UserName"] != null) { 
        <text >Welcome: @Session["UserName"].ToString() </text>
} </fieldset>

<div>
    <h2>Login History</h2>
    <ol>
        <li>Today: @DateTime.Now</li>
        @*add the login history*@
    </ol>
</div>