﻿<style>

</style>
@{
    ViewBag.Title = "Index";
}

<h1> Hello World!</h1>
<p>Login or Create account to get started!</p>
<a>@Html.ActionLink("Create Account", "Registration", "Registration") </a>  <br/> 
<a>@Html.ActionLink("Login", "Login", "Login") </a>

