﻿@model MvcLogin.Models.UserDetails

@{
    ViewBag.Title = "Registration";
}

    @Html.AntiForgeryToken()
<fieldset>
    <legend>Create Account</legend>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
<form action="/Registration/ProcessRegistration" method="post">
    <div>
        <label>User Name</label>
        <input type="text" name="userName" value="" /> <br />
    </div>
    <div>
        <label name="passwordLbl">Password</label>
        <input type="password" name="passWord" value="" /> <br />
    </div>

    <div>
        <label>Confirm Password</label>
        <input type="password" name="confirmPassWord" value="" /> <br />
    </div> <br />
    @if (@ViewBag.password == false)
    {
        <label class="text-danger"> @ViewBag.Error</label>
    }
    <br />
    <button type="submit"> Create Account</button> <br />

    @if (@ViewBag.validation == false)
    {
        <label class="text-danger"> @ViewBag.Error</label>
    }
    <br />
    <a>@Html.ActionLink("Login", "Login", "Login") </a>
    <br />

    @if (@ViewBag.AccountCreated == true)
    {
        <label class="text-danger"> @ViewBag.Info</label>
    }
</form>
</fieldset>

